<md-content layout="row" layout-sm="column" layout-xs="column" flex-gt-sm="80" flex-offset-gt-sm="10">
    <div layout-padding flex>
        <h1 class="md-display-2" layout="row">
            <span flex>Hálózati beállítások</span>
            <md-button class="md-fab md-primary md-hue-2">
                <md-icon class="material-icons">network_wifi</md-icon>
            </md-button>
        </h1>
        <md-divider>
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Lehetőség:</label>
                    <md-select ng-model="vm.actoption">
                        <md-option ng-repeat="op in vm.options" ng-value="op">{{op}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="vm.actoption=='LAN'">
                    <label>DHCP/FIX:</label>
                    <md-select ng-model="vm.lanactoption">
                        <md-option ng-repeat="ln in vm.lanoptions" ng-value="ln">{{ln}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" ng-show="vm.actoption=='LAN' && vm.lanactoption=='FIX IP'">
                <div flex=25>
                    <span>IP:</span>
                    <input type="text" ng-model="vm.ipmask.ip">
                </div>
                <div flex=25>
                    <span>Maszk:</span>
                    <input type="text" ng-model="vm.ipmask.mask">
                </div>
                <div flex=25>
                    <span>Gateway:</span>
                    <input type="text" ng-model="vm.ipmask.gateway">
                </div>
                <!--div flex=25>
                    <md-button class="md-primary md-raised" ng-click="vm.save(vm.ipmask)">Mentés</md-button>
                </div-->
            </div>
        </md-divider>
    </div>
</md-content>